* {
    main-bg:            #18142FB3;
    main-fg:            #D4CCFFE6;
    main-br:            #234FD4E6;
    main-ex:            #21206BE6;
    select-bg:          #F0CCAA80;
    select-fg:          #523C29E6;
}
