* {
    main-bg:            #10256AB3;
    main-fg:            #CCD8FFE6;
    main-br:            #9E6BCEE6;
    main-ex:            #6A5CC7E6;
    select-bg:          #AAD1F080;
    select-fg:          #294052E6;
}
