* {
    main-bg:            #030205B3;
    main-fg:            #DDCCFFE6;
    main-br:            #23283AE6;
    main-ex:            #0E0F16E6;
    select-bg:          #AAC3F080;
    select-fg:          #293852E6;
}
