@define-color bar-bg rgba(10,25,34,0);
@define-color main-bg rgba(10,25,34,0.8);
@define-color main-fg rgba(170,214,240,0.8);
@define-color wb-act-bg rgba(224,90,43,0.4);
@define-color wb-act-fg rgba(255,217,204,1);
@define-color wb-hvr-bg rgba(96,75,125,0.4);
@define-color wb-hvr-fg rgba(240,170,173,0.8);
