@define-color bar-bg rgba(16,24,31,0);
@define-color main-bg rgba(16,24,31,0.8);
@define-color main-fg rgba(170,207,240,0.8);
@define-color wb-act-bg rgba(92,149,222,0.4);
@define-color wb-act-fg rgba(204,226,255,1);
@define-color wb-hvr-bg rgba(75,101,125,0.4);
@define-color wb-hvr-fg rgba(170,195,240,0.8);
