@define-color bar-bg rgba(57,39,35,0);
@define-color main-bg rgba(57,39,35,0.8);
@define-color main-fg rgba(240,183,170,0.8);
@define-color wb-act-bg rgba(227,194,174,0.4);
@define-color wb-act-fg rgba(255,223,204,1);
@define-color wb-hvr-bg rgba(125,107,75,0.4);
@define-color wb-hvr-fg rgba(240,199,170,0.8);
