@define-color bar-bg rgba(16,37,106,0);
@define-color main-bg rgba(16,37,106,0.8);
@define-color main-fg rgba(170,186,240,0.8);
@define-color wb-act-bg rgba(171,198,219,0.4);
@define-color wb-act-fg rgba(204,233,255,1);
@define-color wb-hvr-bg rgba(82,75,125,0.4);
@define-color wb-hvr-fg rgba(206,170,240,0.8);
