@define-color bar-bg rgba(36,43,63,0);
@define-color main-bg rgba(36,43,63,0.8);
@define-color main-fg rgba(170,188,240,0.8);
@define-color wb-act-bg rgba(224,136,26,0.4);
@define-color wb-act-fg rgba(255,232,204,1);
@define-color wb-hvr-bg rgba(114,75,125,0.4);
@define-color wb-hvr-fg rgba(240,205,170,0.8);
