# Generated with hyprdynamicmonitors freeze.
# <<<<< TUI AUTO START
monitor=desc:AU Optronics 0x21ED,disable
monitor=desc:Acer Technologies KA242Y G0 251707A323W01,preferred,0x0,1,transform,0,vrr,0
# <<<<< TUI AUTO END

